.card {
  border-radius: 1em;
  text-align: center;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.card img {
  border-radius: 89%;
  margin: auto;
  padding: 1em;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  margin: 40px;
  color: goldenrod;
}

svg {
  color: gold;
  margin-top: 28px;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
svg:hover {
  fill: red;
  transform: rotate(360deg);
}
.card h2 {
  color: rgb(228, 140, 9);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
h2:hover {
  text-shadow: 0 1px 0 #701818, 0 2px 0 #0a0404, 0 3px;
}

.col-md-3 {
  color: blue;
}
.col-md-2 {
  color: grey;
}
.col-md-4 {
  color: rgb(57, 57, 172);
}
body {
  color: red;
}

.imagePhoto {
  width: 212px;
  margin-top: -9px;
}
h3 {
  color: goldenrod;
}
.card-3 {
  text-align: center;
  margin-top: 30%;
  border-bottom: solid 2px gold;
  margin: 20px 80px 40px;
  box-shadow: 0 10px 10px -10px goldenrod inset;
  margin-top: 99px;
}
h6 {
  color: grey;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.message .btn-sub:hover {
  background-color: rgb(168, 130, 35);
  border-radius: 12px;
}
.message .btn-sub {
  background-color: goldenrod;
  margin-top: -22px;
  color: rgb(241, 239, 239);
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input {
  border-radius: 5px;
  background-color: whitesmoke;
}
textarea {
  border-radius: 5px;
  background-color: whitesmoke;
}
.container-text {
  color: brown;
}
.text-wrap {
  text-align: center;
  margin-left: 14px;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
}
h8 {
  margin: 20px 1px 30px -1px;
  color: grey;
}

.container-2 {
  width: 100%;
  margin: 0% 0px 0px 0px;
  padding: 1px;
}
.text-header {
  text-align: center;
  font-size: 29px;
  font-family: Arial, Helvetica, sans-serif;
}
.container-3 {
  width: 95%;
}
hr {
  display: block;
  border: 1px solid rgb(175, 172, 158);
  margin-top: 2.6em;
}
.contextText {
  margin: 1px 0px 0px 0px;
  padding-top: 100px;
  color: rgb(75, 59, 20);
}
